
<div class="container mt-3">
    <h3>Issue List</h3>
    <table class="table table-bordered table-hover">
        <thead class="table-warning">
            <tr>
                <th>ID</th>
                <th class="col-md-6">Issue Description</th>
                <th>Severity</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let issue of issues_list; index as i">
                <td>{{issue.id}}</td>
                <td>
                    <a [routerLink]="['/issues',issue.id]">
                        {{issue.description}}
                    </a>
                </td>
                <td>{{issue.severity}}</td>
                <td>{{issue.status}}</td>
                <td col-md-4>
                    <button type="button" class="btn btn-primary text-white" [routerLink]="['/editIssue',issue.id]">Edit</button>
                    <button type="button" class="btn btn-danger text-white" (click)="onDelete(issue.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock><p>No Issues are Reported</p></ng-template>
    <br>
    <br>
    <button type="button" class="btn btn-primary text-white" name="Add Issue" routerLink="/addIssue">Add Issue</button>
</div>



