<div class="container mt-3 ">
    <h3>Issue Details</h3>
    <table class="table ">
        <tr>
            <td class="col-md-2 text-dark">ID : </td>
            <td  class="text-dark">{{issueDetails?.id}}</td>
        </tr>
        <tr>
            <td  class="text-dark">Description : </td>
            <td  class="text-dark">{{issueDetails?.description}}</td>
        </tr>
        <tr>
            <td  class="text-dark">Severity : </td>
            <td  class="text-dark">{{issueDetails?.severity}}</td>
        </tr>
        <tr>
            <td  class="text-dark">Status : </td>
            <td  class="text-dark">{{issueDetails?.status}}</td>
        </tr>
        <tr>
            <button type="button" class="btn btn-primary mt-3" (click)="goBack()">Back</button>
        </tr>
    </table>
</div>